.editar-tarea-titulo {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

.form-editar-tarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo-input-editar {
  width: 530px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid var(--color-border-input);
}

.descripcion-editar {
  margin-top: 2rem;
}

.descripcion-task-editar {
  width: 530px;
  height: 200px;
  border-radius: 6px;
  border: 1px solid var(--color-border-input);

}

.btn-editar-tarea {
  margin-top: 6.5rem;
}

.modal-editar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 600px;
  height: 350px;
  background-color: var(--color-white);
  box-shadow: 0 0 24px var(--shadow);
  padding: 2rem;
  border-radius: 6px;
}

.edit-task {
  color: var(--color-edit-task);
  margin-right: .5rem;
}

.delete-task, .edit-task {
  width: 35px;
  height: 35px;
  float: right;
  margin-top: 1rem;
  cursor: pointer;
}

@media (max-width: 580px) {
  .modal-editar {
    width: 500px;
    padding: 1.5rem 1rem 1rem 1rem;
  }

  .titulo-input {
    width: 430px;
  }
}

@media (max-width: 580px) {
    .modal-editar {
      width: 500px;
      padding: 1.5rem 1rem 1rem 1rem;
    }
  
    .titulo-input {
      width: 430px;
    }
  }