@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #3e9fdb, #5844e9);
}

.h1 {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cabecera {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.buscar-tarea {
  width: 900px;
  height: 600px;
  max-height: 600px;
  border-radius: 50px;
  background-color: #fff;
  padding: 2rem 3rem;
}

.logo {
  width: 70px;
}
