@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Inter:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

body {
  max-width: 1200px;
  margin: 50px auto;
  background: linear-gradient(to right, #3e9fdb, #5844e9);
  overflow: hidden;
}

#root {
  background-color: transparent;
}
div {
  width: 500px;
  height: auto;
  padding: 10px;
  background-color: white;
}

button {
  width: 170px;
  height: 40px;
  background-color: #00abfb;
  color: white;
  margin: 10px;
  border-radius: 29px;
  border-color: transparent;
}
button:hover {
  background-color: #0c6cb0;
}
.buscar-tarea {
  width: 900px;
  height: auto;
  margin-left: 28%;
  border-radius: 50px;
}

h1 {
  margin-left: 15%;
  margin-top: 5%;
  font-size: 63px;
}

svg {
  width: 100px;
  height: 100px;
  margin-top: 20px;
}
.contadores {
  margin-left: 20%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.contadores p {
  display: inline;
  margin-left: 10px;
  color: #ff9960;
}
.modal {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal h2 {
  margin-left: 37%;
  margin-top: 5%;
  font-size: 32px;
}

.titulo textarea {
  margin-top: 10px;
  margin-left: 50px;
  padding: 10px;
  width: 800px;
  height: 100px;
}

.descripcion textarea {
  margin-left: 50px;
  padding: 10px;
  width: 800px;
  height: 100px;
}
.botones {
  height: auto;
  background-color: transparent;
  margin-left: 30%;
  margin-top: 50px;
}

.nuevatarea {
  width: 800px;
  height: 70px;
  margin-left: 20px;
  font-size: 26px;
}
.no-tareas {
  background-color: transparent;
}

.taskitem {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
}

.tareas {
  margin-top: 10px;
}

.lista-tareas {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.principal {
  background-color: transparent;
  width: 10px;
}

input,
textarea {
  border-radius: 15px;
  width: 60%;
  height: 40px;
  margin-left: 30px;
  border-color: #636060;
}

.check {
  color: #00b341;
  width: 55px;
  height: 55px;
}

.borrar {
  color: #ff2825;
  width: 50px;
  height: 50px;
}

.cabecera {
  width: 100%;
  background-color: transparent;
  display: flex;
  gap: 50px;
}

.search {
  color: #00abfb;
  width: 50px;
  height: 50px;
  margin-top: -20px;
}

.buscador input {
  padding: 10px;
}
